/*Seccion Testimonios de Clientes*/
.tarjetas{
    display: flex;
    justify-content: space-evenly;
   }
   .tarjetas .tarjeta{
    background: mediumseagreen;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
   }
   .tarjetas .tarjeta img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
   }
   .tarjetas .tarjeta > .contenido_texto_tarjeta{
    width: 60%;
    color: #fff;
   }
   .tarjetas .tarjeta > .contenido_texto_tarjeta p{
    font-weight: 300;
    padding-top: 5px;
   }
   