/*Seccion Footer (Pie de Pagina)*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
   }
   .seccion_footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
   }
   .contenido_footer{
    text-align: center;
   }
   .contenido_footer h4{
    color: #fff;
    border-bottom: 3px solid #20d3c4;
    padding-bottom: 5px;
    margin-bottom: 10px;
   }
   .contenido_footer p{
    color: #ccc;
   }
   .titulo_final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
   }
   